<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
    <li><a href="{% url 'work_orders:work_order_list' %}">Work Orders List</a></li>
    <li><a href="{% url 'work_orders:add_workorder' %}">Create Work Order</a></li>    
    <li><a href="">Edit Work Order</a></li>    
    <li><a href="">Delete Work Order</a></li>    
    <li><a href="">Monthly Report</a></li>    
    <li><a href="">Service Man Report</a></li>    
    <li><a href=""></a></li>    
        
    </ul>
</body>
</html>