<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css.css">
    <title>Document</title>
</head>
<body>
<div class="app">
    <header class="app-header">
        <div class="app-header-logo">
            <div class="logo">
				<span class="logo-icon">
					<img src="https://assets.codepen.io/285131/almeria-logo.svg"/>
				</span>
                <h1 class="logo-title">
                    <span>RezosWT</span>
                    <span>Service</span>
                </h1>
            </div>
        </div>
        <div class="app-header-navigation">
            <div class="tabs">
                <a href="#">
                    Overview
                </a>
                <a href="#" class="active">
                    Service Task
                </a>
                <a href="#">
                    Time Card
                </a>
                <div class="service-section-header">
                    <div class="search-field">
                        <i class="ph-magnifying-glass"></i>
                        <input type="text" placeholder="Plate | Customer | Model">
                    </div>
                    <button class="flat-button">
                        Search
                    </button>
                </div>

            </div>
        </div>
        <div class="app-header-actions">
            <button class="user-profile">
                <span> >>>USERNAME<<< </span>
                <span>
					<img src="https://assets.codepen.io/285131/almeria-avatar.jpeg"/>
				</span>
            </button>
        </div>
        <div class="app-header-mobile">
            <button class="icon-button large">
                <i class="ph-list"></i>
            </button>
        </div>

    </header>
    <div class="app-body">
        <div class="app-body-navigation">
            <nav class="navigation">
                <a href="#">
                    <i class="ph-browsers"></i>
                    <span>Dashboard</span>
                </a>
                <a href="#">
                    <i class="ph-check-square"></i>
                    <span>Work Order</span>
                </a>
                <a href="#">
                    <i class="ph-swap"></i>
                    <span>Financial Module</span>
                </a>
                <a href="#">
                    <i class="ph-file-text"></i>
                    <span>Analytics and Reporting</span>
                </a>
                <a href="#">
                    <i class="ph-globe"></i>
                    <span>Customer Data Management</span>
                </a>
                <a href="#">
                    <i class="ph-clipboard-text"></i>
                    <span>Vehicle Management</span>
                </a>
            </nav>
            <footer class="footer">
                <h1>RezosWT<small>©</small></h1>
                <div>
                    RezosWT ©<br/>
                    All Rights Reserved 2024
                </div>
            </footer>
        </div>
    </div>
</div>

</body>
</html>