<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Segments from {{ work_order }}</title>
</head>
<body>
<a href="{% url 'work_orders:work_orders_search' %}">Back</a>
<h2>WO {{ work_order }}</h2>
<a href="{% url 'work_orders:segment_create_workorder' work_order.pk %}">Add New Segment</a>
<p> Labor : {{ work_order.labor_price }} BGN | Spare Parts : {{ work_order.spare_part_price }} BGN | Misc
    : {{ work_order.mics_price }} BGN | Total : {{ work_order.total_price }} BGN </p>


<ul>
    {% for segment in segments %}
        <ul>
            <li>
                <p>{{ segment }} BGN</p>
                <a href="{% url 'work_orders:labor_menu' segment.pk %}">Labor Menu | </a>
                <a href="{% url 'work_orders:spare_parts_menu' segment.pk %}">Spare parts Menu | </a>
                <a href="{% url 'work_orders:mics_menu' segment.pk %}">Mics Menu </a>
                <a href="{% url 'work_orders:segment_delete' segment.pk %}">Delete </a>


            </li>
        </ul>
    {% endfor %}
</ul>
</body>
</html>